<!-- EDITAR MODAL -->
<div *ngIf="mostrarModalEditarUsuario" class="editar-modal-container">
  <!-- modal -->
  <div class="modal-container-container">
    <div class="boton-cerrar-container">
      <div class="boton-cerrar">
        <p (click)="cerrarModalEditarUsuario()"> X </p>
      </div>
    </div>
    <form class="editar-formulario-container"> 
      <section class="input-label-container">
        <div class="form-group-modal">
          <label for="correo" class="form-label-modal">Nombre:</label>
          <input class="form-input-modal" type="text" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
        </div>
        <div class="form-group-modal">
          <label class="form-label-modal">Correo:</label>
          <input class="form-input-modal" type="email" id="correo" name="correo" [(ngModel)]="persona.correo" required>
        </div>
        <div class="form-group-modal">
          <label class="form-label-modal" type="number">Telefono:</label>
          <input class="form-input-modal" id="telefono" name="telefono" [(ngModel)]="persona.telefono" required>
        </div>
      </section>
      <div class="modal-botones-container">
        <button type="button" class="boton-agregar" (click)="editarUsuarioGuardarCambiosConfirmar()">Guardar Cambios</button>
        <button type="button" class="boton-agregar" (click)="cerrarModalEditarUsuario()">Cancelar</button>
      </div>
    </form>
  </div>
  <!-- modal -->
</div>
<!-- EDITAR MODAL -->

<!-- ELIMINAR USUARIO MODAL -->
<div *ngIf="mostrarModalEliminarUsuario" class="eliminar-modal-container">

  <div class="eliminar-modal-container-container">

    <div class="boton-cerrar-container">
      <div class="boton-cerrar">
        <p (click)="cerrarModalEliminarUsuario()"> X </p>
      </div>
    </div>
    <section class="eliminar-modal-cotent-container">
      <p style="font-size: large;font-weight: bold;  ">¿Estás seguro que deseas eliminar este usuario?</p>
      <div class="eliminar-modal-botones-container">
        <button type="button" class="boton-eliminar" (click)="eliminarUsuarioConfirmar()">Eliminar</button>
        <button type="button" class="boton-cancelar" (click)="cerrarModalEliminarUsuario()">Cancelar</button>
      </div>
    </section>

  </div>

</div>
<!-- ELIMINAR USUARIO MODAL -->

<!-- Formulario Reg -->
<div class="boton-agregar-container">
  <button type="submmit" class="btn btn-success" (click)="agregarUsuario()">
    <i class="icon"></i>Agregar
    <i class="fa-regular fa-floppy-disk"></i>
   
  </button>
</div>
<!-- <div class="form-container">
  <form id="myForm">
    <div class="form-group ">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="persona.nombre" class="form-input" required>
      <div class="boton-agregar-container">
        <button type="submmit" class="boton-agregar" (click)="agregarUsuario()">Agregar</button>
      </div>
    </div>
    <div class="form-group">
      <label for="correo" class="form-label">Correo</label>
      <input type="text" id="apellido" name="correo" [(ngModel)]="persona.correo" class="form-input" required>
    </div>
    <div class="form-group">
      <label for="telefono" class="form-label">Telefono</label>
      <input type="email" id="telefono" name="telefono" [(ngModel)]="persona.telefono" class="form-input" required>
    </div>
  </form>
</div> -->
<!-- resumen -->

<!-- <div class="resumen-container">
  <div class="grid-cabecera">
    <p> ID </p>
    <p> Nombre </p>
    <p> Correo </p>
    <p> Teléfono </p>
    <p> Editar </p>
    <p>Eliminar</p>
  </div> -->

  <!-- Utiliza *ngFor para iterar sobre los datos y crear filas -->
  <!-- <div class="grid-fila" *ngFor="let dato of datosUsuario; let i = index">
    <p>{{ dato.id }}</p>
    <p>{{ dato.nombre }}</p>
    <p>{{ dato.correo }}</p>
    <p>{{ dato.telefono }}</p>
    <div class="edit-button-container">
      <button id="edit-button">
        <p (click)="abrirModalEditarUsuario(dato.id,i,dato.nombre,dato.correo,dato.telefono)"> Editar </p>
      </button>
    </div>
    <div class="delete-button-container">
      <button id="delete-button">
        <p (click)="abrirModalEliminarUsuario(dato.id,i)">Eliminar</p>
      </button>
    </div>
  </div>
</div> -->
<div class="p-2">
<table class="table table-bordered text-center" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Correo</th>
      <th scope="col">Telefono</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dato of datosUsuario ; let i = index">
      <td>{{ dato.id }}</td>
      <td>{{ dato.nombre }}</td>
      <td>{{ dato.correo }}</td>
      <td>{{ dato.telefono }}</td>
      <td>
        <button class="btn btn-primary" (click)="abrirModalEditarUsuario(dato.id, i, dato.nombre, dato.correo, dato.telefono)">
            EDITAR
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" style="margin-left: 5px;">
                <!-- El contenido del icono SVG aquí -->
                <path d="M48 96V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V170.5c0-4.2-1.7-8.3-4.7-11.3l33.9-33.9c12 12 18.7 28.3 18.7 45.3V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96C0 60.7 28.7 32 64 32H309.5c17 0 33.3 6.7 45.3 18.7l74.5 74.5-33.9 33.9L320.8 84.7c-.3-.3-.5-.5-.8-.8V184c0 13.3-10.7 24-24 24H104c-13.3 0-24-10.7-24-24V80H64c-8.8 0-16 7.2-16 16zm80-16v80H272V80H128zm32 240a64 64 0 1 1 128 0 64 64 0 1 1 -128 0z"/>
            </svg>
        </button>
    </td>
    <td>
      <button class="btn btn-danger" (click)="abrirModalEliminarUsuario(dato.id, i)">
          ELIMINAR
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" style="margin-left: 5px;">
              <!-- Contenido del icono SVG aquí -->
              <path d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"/>
          </svg>
      </button>
  </td>
    </tr>
  </tbody>
</table>
</div>


<router-outlet></router-outlet>

