<!-- EDITAR MODAL -->
<div *ngIf="mostrarModalEditarUsuario" class="editar-modal-container">
  <!-- modal -->
  <div class="modal-container-container">
    <div class="boton-cerrar-container">
      <div class="boton-cerrar">
        <p (click)="cerrarModalEditarUsuario()"> X </p>
      </div>
    </div>
    <form class="editar-formulario-container"> 
      <section class="input-label-container">
        <div class="form-group-modal">
          <label for="correo" class="form-label-modal">Nombre:</label>
          <input class="form-input-modal" type="text" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
        </div>
        <div class="form-group-modal">
          <label class="form-label-modal">Correo:</label>
          <input class="form-input-modal" type="email" id="correo" name="correo" [(ngModel)]="persona.correo" required>
        </div>
        <div class="form-group-modal">
          <label class="form-label-modal" type="number">Telefono:</label>
          <input class="form-input-modal" id="telefono" name="telefono" [(ngModel)]="persona.telefono" required>
        </div>
      </section>
      <div class="modal-botones-container">
        <button type="button" class="boton-agregar" (click)="editarUsuarioGuardarCambiosConfirmar()">Guardar Cambios</button>
        <button type="button" class="boton-agregar" (click)="cerrarModalEditarUsuario()">Cancelar</button>
      </div>
    </form>
  </div>
  <!-- modal -->
</div>
<!-- EDITAR MODAL -->

<!-- ELIMINAR USUARIO MODAL -->
<div *ngIf="mostrarModalEliminarUsuario" class="eliminar-modal-container">

  <div class="eliminar-modal-container-container">

    <div class="boton-cerrar-container">
      <div class="boton-cerrar">
        <p (click)="cerrarModalEliminarUsuario()"> X </p>
      </div>
    </div>
    <section class="eliminar-modal-cotent-container">
      <p style="font-size: large;font-weight: bold;  ">¿Estás seguro que deseas eliminar este usuario?</p>
      <div class="eliminar-modal-botones-container">
        <button type="button" class="boton-eliminar" (click)="eliminarUsuarioConfirmar()">Eliminar</button>
        <button type="button" class="boton-cancelar" (click)="cerrarModalEliminarUsuario()">Cancelar</button>
      </div>
    </section>

  </div>

</div>
<!-- ELIMINAR USUARIO MODAL -->

<!-- Formulario Reg -->
<div class="form-container">
  <form id="myForm">
    <div class="form-group ">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="persona.nombre" class="form-input" required>
      <div class="boton-agregar-container">
        <button type="submmit" class="boton-agregar" (click)="agregarUsuario()">Agregar</button>
      </div>
    </div>
    <div class="form-group">
      <label for="correo" class="form-label">Correo</label>
      <input type="text" id="apellido" name="correo" [(ngModel)]="persona.correo" class="form-input" required>
    </div>
    <div class="form-group">
      <label for="telefono" class="form-label">Telefono</label>
      <input type="email" id="telefono" name="telefono" [(ngModel)]="persona.telefono" class="form-input" required>
    </div>
  </form>
</div>
<!-- resumen -->

<!-- <div class="resumen-container">
  <div class="grid-cabecera">
    <p> ID </p>
    <p> Nombre </p>
    <p> Correo </p>
    <p> Teléfono </p>
    <p> Editar </p>
    <p>Eliminar</p>
  </div> -->

  <!-- Utiliza *ngFor para iterar sobre los datos y crear filas -->
  <!-- <div class="grid-fila" *ngFor="let dato of datosUsuario; let i = index">
    <p>{{ dato.id }}</p>
    <p>{{ dato.nombre }}</p>
    <p>{{ dato.correo }}</p>
    <p>{{ dato.telefono }}</p>
    <div class="edit-button-container">
      <button id="edit-button">
        <p (click)="abrirModalEditarUsuario(dato.id,i,dato.nombre,dato.correo,dato.telefono)"> Editar </p>
      </button>
    </div>
    <div class="delete-button-container">
      <button id="delete-button">
        <p (click)="abrirModalEliminarUsuario(dato.id,i)">Eliminar</p>
      </button>
    </div>
  </div>
</div> -->
<table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Correo</th>
      <th scope="col">Telefono</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dato of datosUsuario ; let i = index">
      <td>{{ dato.id }}</td>
      <td>{{ dato.nombre }}</td>
      <td>{{ dato.correo }}</td>
      <td>{{ dato.telefono }}</td>
      <td>
        <button class="btn btn-primary" (click)="abrirModalEditarUsuario(dato.id,i,dato.nombre,dato.correo,dato.telefono)"> EDITAR</button>
      </td>
      <td> <button class="btn btn-danger" (click)="abrirModalEliminarUsuario(dato.id,i)"> ELIMINAR</button></td>
    </tr>
  </tbody>
</table>


<router-outlet></router-outlet>

